:root {
  --main-color: #41b783;
  --main-background-color: #34495e;
  --active-element-color: #34495e80;
  --hover-element-color: #2f8761;
  --main-text-color: #ffffff;
  --sidebar-width: 35vw;
}

body {
  color: var(--main-text-color);
  margin: 0;
  background-color: var(--main-background-color);
  font-family: "Quicksand", "Sans Sheriff", "Arial";
}
